/* Stylesheet */
body{
	background-color: #151515;
	font-family: 'Open Sans', sans-serif;
}
svg { 
	margin: 20px;
	background-color: #1c1c1c;
	border: 2px solid #1c1c1c;
	border-radius: 20px;
}
#container {
	height: 100%;
	width: 100%;
	position: relative;
}
.axis path {
	 fill: none;
	 stroke: white;
}
.axis line {
	stroke: white;
}
.axisReg path {
	fill: none;
	stroke: white;
}
.axisReg line {
	fill: none;
	stroke: white;
}
#part1 {
	margin-bottom: 10px;
	width:1300px;
}
#part2 {
	margin-top: 750px;
	width:1300px;
}
#genreMarket {
	float: left;
	width: 1100px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#regGraph {
	float: left;
	width: 1100px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#form {
	float: left;
	width: 180px;
	margin-left: 20px;
	margin-top: 80px;
}
#regButtons {
	float: left;
	width: 180px;
	margin-left: 20px;
	margin-top: 80px;
}
#title {
	color: white;
	margin-top: 10px;
	margin-left:  40%;
}
.buttonToggle {
	width: 165px;
	height: 70px;
	float: left;
	margin-top: 10px;
	border: 2px solid white;
	border-radius: 20px;
	background-color: #1c1c1c;
	color: white;
}
.buttonToggle:hover{
	opacity: .6;
}

.genreSegment {

	margin-top: 10px;
	height: 400px;
	width: 100%;
}
.third {
	width: 40%;
	margin-top: 10px;
	height: 100px;
	float: left;
	margin-left: 1%;
}
.statText{
	width: 100%;
	height: 40px;
	border: 2px solid blue;
	float: left;
	margin-top: 230px;
}
.regTitle{
	text-align: center;
	color: white;
	margin-top: 100px;
	text-shadow: 2px 2px #ff0000;
}
.actionLine {
  stroke-dasharray: 1250;
  stroke-dashoffset: 1200;
  animation: dash 1s linear forwards;
}

/**doesn't work*/
.adventureLine {
   stroke-dasharray: 1550;
  stroke-dashoffset: 1300;
  animation: dash 1s linear forwards;
}

.comedyLine {
	  stroke-dasharray: 1250;
  stroke-dashoffset: 1200;
  animation: dash 1s linear forwards;
}

.documentaryLine {
	  stroke-dasharray: 1250;
  stroke-dashoffset: 1200;
  animation: dash 1s linear forwards;
}

.dramaLine {
	  stroke-dasharray: 1250;
  stroke-dashoffset: 1200;
  animation: dash 1s linear forwards;
}

.musicalLine {
	  stroke-dasharray: 1250;
  stroke-dashoffset: 1200;
  animation: dash 1s linear forwards;
}

.tshLine {
	  stroke-dasharray: 1250;
  stroke-dashoffset: 1200;
  animation: dash 1s linear forwards;
}


div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 200px;					
    height: 100px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}


@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

#barChart{
	float: left;
}

#barButtons{
	margin-top: 200px;
	margin-left: 30px;
	float: left;
	width: 300px;
}
#part3 {
	width: 1600px;
}
#barYearDiv {
	color: white;
	font-weight: bold;
	font-size: 14;
}
#leftBarButton {
	margin-left: 20%;
	margin-top: 30px;
	width: 85px;
	height: 60px;
	font-family: arial;
	font-weight: bold;
	border: 1px solid #a0a0a0;
	border-radius: 45px;
	background-color: #a0a0a0;
	color: white;
}
#rightBarButton {
	margin-left: 20%;
	margin-bottom: 30px;
	width: 85px;
	height: 60px;
	font-family: arial;
	font-weight: bold;
	border: 1px solid #a0a0a0;
	border-radius: 45px;
	background-color: #a0a0a0;
	color: white;
}


